{% extends "../base.html" %}
{% block titulo %} Lista de Amigos{% endblock %}
{% block contenido_principal %}
		<h2>Amigos</h2>
		<p>Los amigos del usuario en sesión son:</p>
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
				{% for amistad in amistades %}
				<tr name="friendship">
					{% if userActual===amistad.receptor %}
					<td>{{amistad.emisor}}</td>
					{% else %}
					<td>{{amistad.receptor}}</td>
					{% endif %}
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
<div class="row text-center">
	<ul class="pagination">
		<!-- Primera -->
		<li class="page-item" >
			<a class="page-link" href="/user/friends?pg=1" >Primera</a>
		</li>

		<!-- Anterior (si la hay ) -->
		{% if pgActual-1 >= 1 %}
		<li class="page-item">
			<a class="page-link" href="/user/friends?pg={{ pgActual -1 }}" >{{ pgActual -1 }}</a>
		</li>
		{% endif %}

		<!-- Actual -->
		<li class="page-item active" >
			<a class="page-link" href="/user/friends?pg={{ pgActual }}">{{ pgActual }}</a>
		</li>

		<!-- Siguiente (si la hay) -->
		{% if pgActual+1 <= pgUltima %}
		<li class="page-item">
			<a class="page-link" href="/user/friends?pg={{ pgActual+1 }}" >{{ pgActual+1 }}</a>
		</li>
		{% endif %}

		<!-- Última -->
		<li class="page-item" >
			<a class="page-link" href="/user/friends?pg={{ pgUltima }}" >Última</a>
		</li>
	</ul>
</div>

{% endblock %}