{% extends "base.html" %}
{% block titulo %} Lista de usuarios{% endblock %}
{% block contenido_principal %}
<h2>Usuarios</h2>
<form method="get" action="/user/list">
    <div
            class="input-group col-xs-8 col-sm-6 col-md-4 col-lg-5 pull-right">
        <input type="text" class="search-query form-control"
               placeholder="Nombre de la canción" name="busqueda"/>
        <span class="input-group-btn">
<button class="btn" type="submit">
<span class="glyphicon glyphicon-search"></span>
</button>
</span>
    </div>
</form>
<p>Los usuarios que actualmente
    figuran en el sistema son los siguientes:</p>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Email</th>
            <th>Nombre</th>
            <th class="col-md-1"></th>
        </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
        <tr>
            <div>
                <td>{{usuario.email}}</td>
                <td>{{usuario.nombre}}</td>
            </div>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="row text-center">
    <ul class="pagination">
        <!-- Primera -->
        <li class="page-item" >
            <a class="page-link" href="/user/list?pg=1" >Primera</a>
        </li>

        <!-- Anterior (si la hay ) -->
        {% if pgActual-1 >= 1 %}
        <li class="page-item">
            <a class="page-link" href="/user/list?pg={{ pgActual -1 }}" >{{ pgActual -1 }}</a>
        </li>
        {% endif %}

        <!-- Actual -->
        <li class="page-item active" >
            <a class="page-link" href="/user/list?pg={{ pgActual }}">{{ pgActual }}</a>
        </li>

        <!-- Siguiente (si la hay) -->
        {% if pgActual+1 <= pgUltima %}
        <li class="page-item">
            <a class="page-link" href="/user/list?pg={{ pgActual+1 }}" >{{ pgActual+1 }}</a>
        </li>
        {% endif %}

        <!-- Última -->
        <li class="page-item" >
            <a class="page-link" href="/user/list?pg={{ pgUltima }}" >Última</a>
        </li>
    </ul>
</div>
{% endblock %}
